import React from 'react';
import GlobalMenu from './GlobalMenu';

import { AppLayout, AppHeader,
         TabBar, Tab,
         Content, ContentHeader, ContentAction,
         Drawer, DrawerGroup, DrawerLink,
         Body } from './_MaterialDesignLite';

class Dashboard extends React.Component {

  constructor(props) {
    super(props);
    this.state = {};
  }

  render() {
    return (
      <AppLayout>
        <AppHeader title="Workspace" menu={GlobalMenu} />

        <TabBar>
          <Tab to="/xyz">XYZ</Tab>
        </TabBar>

        <Content>
          <ContentHeader title="Realtime Readings">
            <ContentAction to="New">New</ContentAction>
          </ContentHeader>
          <Drawer>
            <DrawerGroup title="Views">
              <DrawerLink to="/link1">Link 1</DrawerLink>
              <DrawerLink to="/link1">Link 2</DrawerLink>
              <DrawerLink to="/link1">Link 3</DrawerLink>
              <DrawerLink to="/link1">Link 4</DrawerLink>
            </DrawerGroup>

            <DrawerGroup title="Views">
              <DrawerLink to="/link1">Link 1</DrawerLink>
              <DrawerLink to="/link1">Link 2</DrawerLink>
              <DrawerLink to="/link1">Link 3</DrawerLink>
              <DrawerLink to="/link1">Link 4</DrawerLink>
            </DrawerGroup>
          </Drawer>

          <Body>
            {this.props.children}
          </Body>
        </Content>
      </AppLayout>
    );
  }

}

module.exports = Dashboard;
