import React from 'react';
import MenuItem from './_MaterialDesignLite/MenuLite';

class GlobalMenu extends React.Component {

  render() {
    return (
      <div>
        <MenuItem to="/abc">ABC</MenuItem>
        <MenuItem to="/abc">ABC</MenuItem>
        <MenuItem to="/abc">ABC</MenuItem>
      </div>
    );
  }
}

module.exports = AppHeader;
