import React from 'react';
import styles from './<%=ctx.camelizeName()%>.scss';

class <%=ctx.camelizeName()%> extends React.Component {

  render() {
    return (
      <div>
        <%=ctx.camelizeName()%>
      </div>
    );
  }

}

module.exports = <%=ctx.camelizeName()%>;
